* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.titleContainer{
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    margin-top: 6px;
}
.titleContainer button{
    padding: 12px 24px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: darkgray;
    color: white;
    cursor: pointer;
    margin-bottom: 4px;
}
.parentContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.cardContainer{
    border: 1px solid red;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 16px;

}
.cardContainerItem{
  
    align-items: center;
    width: 20%;
    height: 250px;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0.3, 0.1);
}

.cardContainerItem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.cardContainerItem p{
  display: none;
}

.removeimg img{
  display:none;
}
.showText p{
  display: block !important;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-items: center;
  height: 100%;
}