* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.titleContainer{
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    color: aliceblue;
}
.titleContainer button{
    padding: 12px 24px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: darkgray;
    color: white;
    cursor: pointer;
    margin-bottom: 4px;
}
.parentContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}
.cardContainer{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 16px;

}
.cardContainerItem{
  
    align-items: center;
    width: 20%;
    height: 235px;
    margin: 8px;
}

.cardContainerItem img{
    height: 100%;
    width: 100%;
    object-fit: cover;

     /* Animation */
    transform: scale(0.95);
    opacity: 0;
    animation: scaleUp 0.6s ease-in-out forwards;
}
@keyframes scaleUp {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.cardContainerItem p{
  display: none;
}

.removeimg img{
  display:none;
}
.showText {
  display: flex;
  justify-content: center;
  align-items: center;
}
.showText > p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  width: 100%;
}
.showText>p>img{
  display: block !important;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-items: center;
  font-size: 48px;
  object-fit: cover;

   /* Animation */
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.6s ease-out forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bgDiv{
    background-image: url('./img/bg.jpeg');
  background-size: cover;      /* cover entire area */
  background-position: center; /* center the image */
  background-repeat: no-repeat;
}